/*
Minecraft Mable theme 
Author: Ben Stokman <ben.stokman@protonmail.com>
Version 1.2
*/

@import url("minecraft/minecraft.css");
@import url("minecraft/minecrafter.css");
@import url("minecraft/share-tech.css");

:root {
	--theme-color: #558a2c;
	--title-font: "Minecrafter", sans-serif;
	--ui-font: "Minecraft", sans-serif;
	--body-font: "Share Tech", monospace;
	--reading-size: 20px;
	--reading-font: "Share Tech", monospace;
	--title-weight: 400;
}

button, a.button, input[type=submit] {
	--item-scale: 1;
}

.section-theme.minecraft-grass {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/grass.png');
}

.section-theme.minecraft-black-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/black-glazed-terracotta.png');
}

.section-theme.minecraft-blue-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/blue-glazed-terracotta.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-brown-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/brown-glazed-terracotta.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-cyan-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('minecraft/cyan-glazed-terracotta.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-gray-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/gray-glazed-terracotta.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-green-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/green-glazed-terracotta.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-light-blue-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('minecraft/light-blue-glazed-terracotta.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-light-gray-glazed-terracotta {
	background-image: url('minecraft/light-gray-glazed-terracotta.png');
	--element-background-color: var(--white-color);
	--body-color: var(--black-color);
	--highlight-color: var(--theme-color);
	--blockquote-color: var(--theme-color);
}

.section-theme.minecraft-lime-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/lime-glazed-terracotta.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-magenta-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/magenta-glazed-terracotta.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-orange-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/orange-glazed-terracotta.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-pink-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/pink-glazed-terracotta.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-purple-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/purple-glazed-terracotta.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-red-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/red-glazed-terracotta.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-white-glazed-terracotta {
	background-image: url('minecraft/white-glazed-terracotta.png');
	--element-background-color: var(--white-color);
	--body-color: var(--black-color);
	--highlight-color: var(--theme-color);
	--blockquote-color: var(--theme-color);
}

.section-theme.minecraft-yellow-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/yellow-glazed-terracotta.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-black-wool {
	background-image: url('minecraft/black-wool.png');
}

.section-theme.minecraft-blue-wool {
	background-image: url('minecraft/blue-wool.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-brown-wool {
	background-image: url('minecraft/brown-wool.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-cyan-wool {
	background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('minecraft/cyan-wool.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-gray-wool {
	background-image:  url('minecraft/gray-wool.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-green-wool {
	background-image: url('minecraft/green-wool.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-light-blue-wool {
	background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('minecraft/light-blue-wool.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-light-gray-wool {
	background-image: url('minecraft/light-gray-wool.png');
	--element-background-color: var(--white-color);
	--body-color: var(--black-color);
	--highlight-color: var(--theme-color);
	--blockquote-color: var(--theme-color);
}

.section-theme.minecraft-lime-wool {
	background-image: url('minecraft/lime-wool.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-magenta-wool {
	background-image: url('minecraft/magenta-wool.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-orange-wool {
	background-image: url('minecraft/orange-wool.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-pink-wool {
	background-image: url('minecraft/pink-wool.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-purple-wool {
	background-image: url('minecraft/purple-wool.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-red-wool {
	background-image: url('minecraft/red-wool.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-white-wool {
	background-image: url('minecraft/white-wool.png');
	--element-background-color: var(--white-color);
	--body-color: var(--black-color);
	--highlight-color: var(--theme-color);
	--blockquote-color: var(--theme-color);
}

.section-theme.minecraft-yellow-wool {
	background-image: url('minecraft/yellow-wool.png');
	text-shadow: 0px 0px 16px var(--dark-color);
}
