/*
Minecraft Mable theme 
Author: Ben Stokman <ben.stokman@protonmail.com>
Version 1.1
*/

@import url("minecraft/minecraft.css");
@import url("minecraft/minecrafter.css");

:root {
	--theme-color: #558a2c;
	--title-font: "Minecrafter", sans-serif;
	--ui-font: "Minecraft", sans-serif;
	--title-weight: 400;
}

button, a.button, input[type=submit] {
	--item-scale: 1;
}

.section-theme.minecraft-grass {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/grass.png');
}

.section-theme.minecraft-black-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/black-glazed-terracotta.png');
}

.section-theme.minecraft-blue-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/blue-glazed-terracotta.png');
	text-shadow: 0px 0px 4px var(--black-color), 0px 0px 8px var(--black-color), 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-brown-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/brown-glazed-terracotta.png');
	text-shadow: 0px 0px 4px var(--black-color), 0px 0px 8px var(--black-color), 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-cyan-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('minecraft/cyan-glazed-terracotta.png');
	text-shadow: 0px 0px 4px var(--black-color), 0px 0px 8px var(--black-color), 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-gray-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/gray-glazed-terracotta.png');
	text-shadow: 0px 0px 4px var(--black-color), 0px 0px 8px var(--black-color), 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-green-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/green-glazed-terracotta.png');
	text-shadow: 0px 0px 4px var(--black-color), 0px 0px 8px var(--black-color), 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-light-blue-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('minecraft/light-blue-glazed-terracotta.png');
	text-shadow: 0px 0px 4px var(--black-color), 0px 0px 8px var(--black-color), 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-light-gray-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/light-gray-glazed-terracotta.png');
	text-shadow: 0px 0px 4px var(--black-color), 0px 0px 8px var(--black-color), 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-lime-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/lime-glazed-terracotta.png');
	text-shadow: 0px 0px 4px var(--black-color), 0px 0px 8px var(--black-color), 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-magenta-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/magenta-glazed-terracotta.png');
	text-shadow: 0px 0px 4px var(--black-color), 0px 0px 8px var(--black-color), 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-orange-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/orange-glazed-terracotta.png');
	text-shadow: 0px 0px 4px var(--black-color), 0px 0px 8px var(--black-color), 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-pink-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/pink-glazed-terracotta.png');
	text-shadow: 0px 0px 4px var(--black-color), 0px 0px 8px var(--black-color), 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-purple-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/purple-glazed-terracotta.png');
	text-shadow: 0px 0px 4px var(--black-color), 0px 0px 8px var(--black-color), 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-red-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/red-glazed-terracotta.png');
	text-shadow: 0px 0px 4px var(--black-color), 0px 0px 8px var(--black-color), 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-white-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('minecraft/white-glazed-terracotta.png');
	text-shadow: 0px 0px 4px var(--black-color), 0px 0px 8px var(--black-color), 0px 0px 16px var(--dark-color);
}

.section-theme.minecraft-yellow-glazed-terracotta {
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('minecraft/yellow-glazed-terracotta.png');
	text-shadow: 0px 0px 4px var(--black-color), 0px 0px 8px var(--black-color), 0px 0px 16px var(--dark-color);
}
